body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

.verify-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.verify-header h1 {
    font-size: 2rem;
    color: #333;
}

.verify-header p {
    font-size: 1rem;
    color: #555;
    margin-top: 10px;
}

.message {
    font-size: 1.2rem;
    color: #555;
    margin-top: 30px;
}

.animation img {
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

.status {
    font-size: 1.2rem;
    margin-top: 30px;
}

.redirect {
    margin-top: 20px;
}

.redirect a {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #33b6b5;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.redirect a:hover {
    background-color: #28a29a;
}
